In [1]:
# q1
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_data = sorted(l, key=lambda x: x[1])
print(sorted_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
#q2
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x : x ** 2 , l ))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# q3
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x : x , l ))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
# q4
from functools import reduce
# l = list(range(1,26,1))
l = []
for i in range(1,26,1):
    l.append(i)
product = reduce(lambda x , y : x * y, l)
print("The product of 1 to 25 are:", product)

The product of 1 to 25 are: 15511210043330985984000000

In [5]:
# q5
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x : x if x % 2 == 0 and x % 3 == 0 else None, l))

[6, 60, 90, 120]

In [6]:
# q6
l = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x : x if x[::] == x[::-1] else None, l ))

['php', 'aba', 'radar', 'level']